<div class="bg-[#fff] rounded-full px-[1.5em] py-[0.7em] flex justify-between items-center">
  <img src="assets/images/logo.png" alt="banner image" class="w-[14em]"/>
  <div class="flex items-center gap-[1.5em] pr-[1em]">
    <a routerLink="/" routerLinkActive="bg-[#7b5df9] text-[#fff]" class="py-[0.3em] px-[0.6em] rounded-full font-medium hover:bg-[#7b5df9] hover:text-[#fff]">Home</a>
    <a routerLink="/explore" routerLinkActive="bg-[#7b5df9] text-[#fff]" class="font-medium py-[0.3em] px-[0.6em] rounded-full hover:bg-[#7b5df9] hover:text-[#fff]">Explore</a>
    <a routerLink="/items-details" routerLinkActive="bg-[#7b5df9] text-[#fff]" class="font-medium py-[0.3em] px-[0.6em] rounded-full hover:bg-[#7b5df9] hover:text-[#fff]">Item Details</a>
    <a href="" class="font-medium py-[0.3em] px-[0.6em] rounded-full hover:bg-[#7b5df9] hover:text-[#fff]">Author</a>
    <a href="" class="font-medium py-[0.3em] px-[0.6em] rounded-full hover:bg-[#7b5df9] hover:text-[#fff]">Create Yours</a>
  </div>
</div>
