  <div class="bg-[#fff] rounded-full px-[1.5em] py-[0.7em] flex justify-between items-center">
    <img src="assets/images/logo.png" alt="banner image" class="w-[14em]"/>
    <div class="flex items-center gap-[1.5em] pr-[1em]">
      <a href="/" class="bg-[#7b5df9] py-[0.3em] px-[0.6em] rounded-full text-[#fff] font-medium">Home</a>
      <a href="/" class="font-medium">Explore</a>
      <a href="" class="font-medium">Item Details</a>
      <a href="" class="font-medium">Author</a>
      <a href="/" class="font-medium">Create Yours</a>
    </div>
</div>
