<div class="">
  <div class="bg-[url('assets/images/heading-bg.jpg')] pt-[2em] px-[7em]">
    <app-navigations />
    <div class="text-center text-[#fff] py-[10em]">
      <p class="text-[1.2em] font-bold">Liberty NFT Market</p>
      <h1 class="text-[2.7em] font-bold">DISCOVER SOME TOP ITEMS</h1>
      <p class="text-[#7453fc]">Home > <a href="#" class="text-[#fff]">Explore</a></p>
    </div>
  </div>

  <div class="px-[1em] bg-[#282b2f] py-[3em]">
    <div class="grid grid-cols-[repeat(3,1fr)] gap-[2em]">
      <div>
        <!-- <button><i class="fa-solid fa-circle-arrow-left text-[2.5em] text-[#fff]"></i></button> -->
        <img src="assets/images/featured-01.jpg" alt=" robot" class="rounded-[12px]">
      </div>
      <div><img src="assets/images/featured-02.jpg" alt=" robot" class="rounded-[12px]"></div>
      <div>
        <img src="assets/images/featured-03.jpg" alt="flying people" class="rounded-[12px]">
        <!-- <button><i class="fa-solid fa-circle-arrow-right text-[2.5em] text-[#fff]"></i></button> -->
      </div>
    </div>
  </div>
</div>
