<div class="bg-[#22222a] text-[#fff] py-[4em] px-[7em]">
  <div class="flex items-center justify-between">
    <h1 class="text-[2em] font-bold"><span class="text-[#7453fc]">Items</span> Currently In The Market.</h1>
      <div class="flex items-center gap-[1.5em] pr-[1em]">
        <button class="bg-[#7b5df9] py-[0.3em] px-[0.6em] rounded-full text-[#fff] font-medium">All Items</button>
        <button class="font-medium">Music Art</button>
        <button class="font-medium">Digital Art</button>
        <button class="font-medium">Blockchain</button>
        <button class="font-medium">Virtual</button>
      </div>
  </div>

  <div>
    <app-current-market-list/>
  </div>

</div>
