<div class="py-[4em] text-[#fff]">
  <div class="flex items-center justify-between pr-[1em]">
    <h1 class="bg-[#7453fc] py-[0.5em] px-[0.8em] rounded-full font-bold text-[1.3em]">Current Biddings Prices (ETH)</h1>
    <p>Sorted By: Latest</p>
  </div>
  <div class="grid grid-cols-[repeat(3,1fr)] gap-[2em] mt-[3em]">
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-01.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-02.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-03.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-04.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-01.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
    <div class="bg-[#282b2f] border-[1px] border-[#5e5e5e] border-solid rounded-[15px] overflow-hidden flex">
      <img src="assets/images/current-02.jpg" alt="current">
      <div class="w-full p-[2em]">
        <div class="border-b-[1px] border-[#5e5e5e] border-solid pb-[1.8em] mb-[1.5em]">
          <h3 class="text-[1.2em] font-bold">David Walker</h3>
          <a href="#" class="text-[#7453fc] font-bold">&#64;davidwalker</a>
        </div>
        <div>
          <p>Bid: <span class="text-[1.3em] text-[#7453fc] font-bold">0.06 ETH</span></p>
          <p class="text-[#7453fc]">24/07/2022, 22:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
