<div class="grid grid-cols-[repeat(2,1fr)] gap-[5em] mt-[6em]">
  <div class="text-[#fff]">
      <h3 class="font-bold text-[1.2em]">Liberty NFT Market</h3>
      <h1 class="font-extrabold text-[2.7em] mb-[0.5em]">CREATE, SELL & COLLECT TOP NFT'S.</h1>
      <p class="mb-[2em]">Liberty NFT is a really cool and professional design for your NFT websites. This HTML, CSS template is based on Tailwind V6 and it is design for NFT related web portails. Liberty can be freely downloder from Templates'mod free css and Tailwind</p>
      <div class="flex items-center gap-[1em] text-[#fff]">
          <button class="bg-opacity-0 border-[2px] border-[#7453fc] border-solid  p-[0.5em] rounded-full font-semibold">Explore Top NFTs</button>
          <button class="bg-[#7453fc] py-[0.5em] px-[0.8em] rounded-full font-semibold">Watch Our videos</button>
      </div>
  </div>

  <div>
      <img src="assets/images/banner-02.png" alt="banner 02"/>
      <div class="flex items-center justify-center w-[30em] mt-[1.5em] gap-[1em]">
          <button><i class="fa-solid fa-circle-arrow-left text-[2.5em] text-[#fff]"></i></button>
          <button><i class="fa-solid fa-circle-arrow-right text-[2.5em] text-[#fff]"></i></button>
      </div>
  </div>

</div>
