<div class="bg-[url('assets/images/dark-bg.jpg')] text-[#fff] py-[2em]">

  <div class="px-[1em] py-[3em]">
    <div class="grid grid-cols-[repeat(3,1fr)] gap-[2em]">
      <div>
        <!-- <button><i class="fa-solid fa-circle-arrow-left text-[2.5em] text-[#fff]"></i></button> -->
        <img src="assets/images/featured-01.jpg" alt=" robot" class="rounded-[12px]">
      </div>
      <div><img src="assets/images/featured-02.jpg" alt=" robot" class="rounded-[12px]"></div>
      <div>
        <img src="assets/images/featured-03.jpg" alt="flying people" class="rounded-[12px]">
        <!-- <button><i class="fa-solid fa-circle-arrow-right text-[2.5em] text-[#fff]"></i></button> -->
      </div>
    </div>
  </div>


  <div class="py-[2em] px-[7em]">
    <div class="flex justify-between items-center">
      <h1 class="text-[2em] font-bold">Discover Some Of Our <span class="text-[#7453fc]">Items</span>.</h1>
      <div class="flex gap-[2em]">
        <button class="bg-[rgba(116,83,252,0)] px-[1.3em] rounded-full font-semibold text-[#fff] border-[1px] border-[#5e5e5e] border-solid">All Categories</button>
        <button class="bg-[rgba(116,83,252,0)] px-[1.3em] rounded-full font-semibold text-[#fff] border-[1px] border-[#5e5e5e] border-solid">Avaible</button>
        <button class="bg-[rgba(116,83,252,1)] py-[0.7em] px-[1.3em] rounded-full font-semibold text-[#fff] hover:bg-[#fff] hover:text-[#7453fc]">Search</button>
      </div>
    </div>
  </div>

  <div>
    <app-discover-list/>
  </div>
</div>
