<div class="bg-[url('assets/images/dark-bg.jpg')] text-[#fff] py-[3em] px-[7em]">
  <div class="flex justify-between">
    <div class="flex gap-[1em] mb-[2em] items-center">
      <img src="assets/images/single-author.jpg" alt="author" class="rounded-full">
      <div>
        <h5 class="font-bold text-[1.3em]">Melanie Smith</h5>
        <a href="#" class="text-[#7453fc] font-semibold">&#64;melanie32</a>
      </div>
    </div>
    <div class="rounded-[15px] border-[1px] border-[#5e5e5e] border-solid pt-[2em] px-[2em]">
      <div class="flex items-center justify-between mb-[2em]">
        <p><span class="text-[#7453fc] text-[1.3em] font-bold">1238</span> Likes</p>
        <p><span class="text-[#7453fc] text-[1.3em] font-bold">1238</span> Likes</p>
        <p><span class="text-[#7453fc] text-[1.3em] font-bold">1238</span> Likes</p>
      </div>
      <div class="flex items-center gap-[4em]">
        <h3 class="text-[1.1em] font-bold">559 Followers</h3>
        <button class="bg-[#7453fc] py-[0.6em] px-[4.5em] rounded-full font-semibold text-[1em]">Follow &#64;Melanie32</button>
      </div>
    </div>
  </div>

  <div>
    <h1 class="font-bold text-[2em] mt-[2em]">Melanie Smith's <span class="text-[#7453fc]">Items</span>.</h1>
    <app-author-item-list/>
  </div>
</div>
