<div class="bg-[url(assets/images/dark-bg.jpg)] text-[#fff] py-[5em] px-[7em]">
  <h1 class="font-bold text-[2em] text-center mb-[2em]">View Details <span class="text-[#7453fc]">For Item</span> Here.</h1>
  <div class="grid grid-cols-[repeat(2,1fr)] gap-[3em]">
    <img src="assets/images/item-details-01.jpg" alt="items details one" class="rounded-[15px]">
    <div class="flex items-center">
      <div>
        <h3 class="mb-[1em] text-[1.2em] font-bold">Dolores Haze Westworld Eye</h3>
        <div class="flex gap-[1em] pb-[1em] mb-[2em]">
          <img src="assets/images/author.jpg" alt="author" class="rounded-full">
          <div>
            <h5 class="font-semibold">Liberty Artist</h5>
            <a href="#" class="text-[#7453fc] font-semibold">&#64;libertyart</a>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetu dipiscingei elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="flex items-center justify-between mt-[2em]">
          <div>
            <p>Current Bid</p>
            <h3 class="text-[1.3em] font-bold text-[#7453fc]">6.06 ETH</h3>
            <p>($8,025.50)</p>
          </div>
          <div>
            <p>Owner</p>
            <h3 class="text-[1.3em] font-bold text-[#7453fc]">David Walker</h3>
            <p>(&#64;davidwalker)</p>
          </div>
          <div>
            <p>Ends In</p>
            <h3 class="text-[1.3em] font-bold text-[#7453fc]">3D 05H 20M 58S</h3>
            <p>(January 22nd, 2021)</p>
          </div>
        </div>

        <div class="flex items-center gap-[2em] mt-[2em]">
          <h4>Place Bid:</h4>
          <p class="bg-opacity-0 border-[1px] border-[#7453fc] border-solid  py-[0.5em] px-[0.8em] rounded-full font-semibold">1 ETH</p>
          <button class="bg-[#7453fc] py-[0.5em] px-[0.8em] rounded-full font-semibold hover:bg-[#fff] hover:text-[#7453fc]">Submit Now</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-biding-price/>
  </div>

</div>
