<div class="">
  <div class="bg-[url('assets/images/heading-bg.jpg')] pt-[2em] px-[7em]">
    <app-navigations />
    <div class="text-center text-[#fff] pt-[10em] pb-[2em]">
      <p class="text-[1.2em] font-bold">Liberty NFT Market</p>
      <h1 class="text-[2.7em] font-bold">VIEW ITEM DETAILS</h1>
      <p class="text-[#7453fc]">Home > <a href="#" class="text-[#fff]">Item Details</a></p>
    </div>
    <div class="flex items-center gap-[1em] text-[#fff] justify-center pb-[7em]">
      <button class="bg-opacity-0 border-[2px] border-[#7453fc] border-solid  py-[0.5em] px-[0.8em] rounded-full font-semibold hover:bg-[#7453fc]">Explore Our Items</button>
      <button class="bg-[#7453fc] py-[0.5em] px-[0.8em] rounded-full font-semibold hover:bg-[#fff] hover:text-[#7453fc]">Create Your NFT</button>
    </div>
  </div>
</div>
